.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  bottom: 0;
  backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(231, 229, 229, 0.086);
  height: 100vh;
  width: 100%;
}

.content > div {
  width: 500px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  filter: drop-shadow(1px 1px 8px rgba(26, 115, 232, 0.227));
  position: absolute;
  right: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header > img {
  cursor: pointer;
}

.header > h3 {
  color: #031d40;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.content > div > form {
  width: 100%;
}

.content > div > form > div {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.content > div > form > div label {
  font-size: 13px;
  font-weight: 600;
  color: #031d40;
}

.content > div > form > div > input {
  padding: 10px 13px;
  border: 1px solid #1e1e1e;
  outline: 0;
  margin-bottom: 25px;
  color: #070000;
  font-size: 13px;
  border-radius: 4px;
  font-weight: 500;
}

.content > div > form > div > input:focus {
  border: 1px solid #2995d9;
  transition: 0.4s linear;
}

.content > div > form > button {
  display: block;
  width: 100%;
  background-color: #031d40;
  color: #fff;
  outline: 0;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.content > div > form > button:hover {
  background: transparent;
  color: #2995d9;
  border-color: #2995d9;
}
