.container_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}

.user_details {
  position: relative;
  
}

.details {
  background: #fff;
  filter: drop-shadow(2px 2px 8px rgba(211, 211, 211, 0.248));
  padding: 25px 20px;
  width: 400px;
  border-radius: 8px;
}

.details > div {
  padding: 15px;
}

.details > div > p {
  font-size: 13px;
  font-weight: 400;
  color: #031d40;
}

.details > div > p span {
  color: #08428c;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
}


.history {
  width: 95%;
  margin: 4rem auto 0 auto;
}

.history > h1 {
  text-align: center;
}