.container {
    width: 90%;
    margin: 2rem auto 0 auto;
}

h1 {
    color: #08428c;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 2rem;
    text-align: center;
}

.controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    background: #49b2f441;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #031D40;
    padding: 10px;
}

.controller > div {
    width: 100px;
    background: #fff;
    padding: 6px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    color: #08428c;
    cursor: pointer;
}